.contacts li a.twitter:hover {
  color: #00b8ff;
}

.contacts li a.instagram:hover {
  color: rgb(225, 48, 108);
}

.contacts li .telegram:hover {
  color: #229ED9;
}
.contacts li a.icon.telegram:hover {
  src: "https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg";
}
.contacts li:hover {
  transform: scale(1.1);
}

main {
  background-image: url("../images/black-pepe.jpg");
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ten.wide.column {
  transition: background-color 0.3s ease-out 100ms;
}

.six.wide.column {
  transition: background-color 0.3s ease-out 100ms;
}

.six.wide.column:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.009);
}

.six.wide.column>section:hover{
  background-color: rgb(230, 230, 230);
  transform: scale(1.009);
}

.ten.wide.column:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.009);
}

.timeline li:hover{
  background-color: rgb(230, 230, 230);
  transform: scale(1.009);
}

.static {
  display: block;
}
section{
  cursor: default;
}
li{
  cursor: default;
}